body {
    background-color: #e76f51;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow-y: hidden;
}




 .rps-choice {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    padding-bottom: 24px;

}

 .choice-bot {
} 

.choicebutton {
    margin: 12px;
}

button.choice {
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
    cursor:pointer;

}

button.choice:hover {
    background-color:#f4a261;
}

button.choice:active {
    background-color:#be7f4b;
    transform: translateY(4px) ;
}

.battlefield { 
    display: flex;
    justify-content: center;
    align-items: center;

}
.battle-text {
    display: flex;
    justify-content: center;
    align-items: center;

}