body {
    background-color: #71A9F7;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    overflow-y: hidden;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    
}


 .rps-choice {
    display: flex;
    flex-direction: column;
    align-items: center;  

    padding-bottom: 24px;
    flex-shrink: 0;

}
sav
 .choice-bot {
} 

.choicebutton {
    margin: 12px;

}

button.choice {
    background: none;
    border: none;
    padding: 0;
    outline: inherit;
    cursor:pointer;
    border-radius: 100%;

}

button.choice:hover {
    background-color:#C6D8FF;
}

button.choice:active {
    background-color:#a8b7d6;
    transform: translateY(4px) ;
}

.battlefield { 
    display: flex;
    justify-content: space-around;;
    align-items: center;
    

}
.battle-text {
    display: flex;
    justify-content: space-around;
    padding-top: 10px; 
}

.actual-field, .field-player, .field-cpu{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
    
}

.scoreboard {
    height: 28px;
    width: 28px;;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    background-color: #C6D8FF
}

.playerNoScore, .cpuNoScore {
    background-color: #C6D8FF

}
.playerScore {
    background-color: #6B5CA5;
;
}

/* .test {
    background-color: #6B5CA5
} */